<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Conner Cullity | Software Developer Portfolio</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Conner Cullity">
  <meta name="description" content="Conner Cullity is a software developer specializing in web development and programming. View projects, experience, and contact information.">
  <meta name="keywords" content="Conner Cullity, software developer, web developer, portfolio, Node.js, JavaScript, C#, Java, programmer, programming, Python, AI, NextJS, React">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="/about">About</a>
    </nav>
    <hr>