<%- include("partials/header") %>

<h1>About Me</h1>
<p>
  I'm a developer focused on cloud computing, full-stack apps, and modern web technologies.<br/>
  I have had a passion for computers and technology ever since I remember.<br/>
  I taught myself the basics of HTML before High School and I began taking Programming classes in High School.
</p>

<%- include("partials/footer") %>