<%- include("partials/header") %>

<h1>About Me</h1>
<p>
  Hello, my name is Conner Cullity, I was born in Toronto Ontario and grew up in Bowmanville Ontario. In my free time you can find me snowboarding in the winter, or in my basement gaming on my PC. I have always been very passionate about computers and how they work, so when I was 15, I built my first PC, which is still my daily PC today.
  <br/><br/>
  I am extremely passionate about computer programming and began teaching myself at 13. I went to Bowmanville High School for my secondary education. Fortunately, Bowmanville High School offered courses on computer programming, so I took this opportunity to learn as much as possible during High School. This prior education in computer programming has made my journey through college smoother.
  <br/><br/>
  From my experience at Piggly Wiggly Convenience, I am great when it comes to customer service and am certified to sell Tobacco products and OLG services.
  <br/><br/>
  Once I have finished my Computer Programming course at Durham College, I aspire to get certified for a AWS Certified Developer Associate certificate. Once my education is completed, I’d like to take my Computer Programming knowledge to a business that matters.
</p>

<%- include("partials/footer") %>